:root{
    --grey:#121212;
    --lightBlue: #bbcbd8;
    --white: #fffaf5;
    --aqua: #048a81;
    --lightAqua: #78cac5;
    --boxesColor: #0c0c0c85;

    --fontTitle:'Bebas Neue', sans-serif;
    --fontBody: 'Montserrat Alternates', sans-serif;
}

body{
    font-family: var(--fontBody);
    color: var(--white);
    background: var(--grey);
}


main, header{
    position: relative;
    z-index: 2;
}

video, #layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video{
    object-fit: cover;
    display: block;
}

 

