body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

main {
    width: 97%;
    height: 95%;
    background: var(--boxesColor);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.514);
    backdrop-filter: blur(7.8px);
}

.header, .toolsContainer, .listNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    margin-top: 1.5rem;
}

.toolsContainer {
    width: 10%;
}

.btn, .listNav a {
    font-size: 1.3rem;
    color: var(--aqua);
    text-decoration: none;
}

#animation-On {
    font-size: 1.8rem;
}

#btnEn, .listNav a {
    font-weight: bold;
}

.btn:hover, .listNav a:hover, .listNav li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: var(--grey);
    cursor: pointer;
}

.menu {
    width: 50%;
}

.listNav {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listNav a {
    font-size: 1.1rem;
}

.checkDisplay {
    display: none;
}